<template>
  <div>
    <div id="contactForm">
      <div class="form-group">
        <label for="sender_name" aria-hidden="true"></label>
        <input
          v-model="input.sender_name"
          type="text"
          id="sender_name"
          placeholder="*Full name, ex: Jane Doe"
          class="form-control" required />
      </div>
      <div class="form-group">
        <label for="sender_email" aria-hidden="true"></label>
        <input
          v-model="input.sender_email"
          type="email"
          id="sender_email"
          placeholder="*Email, ex: jane@example.com"
          class="form-control" required />
      </div>
      <div class="form-group">
        <label for="sender_phone" aria-hidden="true"></label>
        <input
          v-model="input.sender_phone"
          type="tel"
          id="sender_phone"
          placeholder="Phone number, ex: (323)123-4567" class="form-control" />
      </div>
      <div class="form-group">
        <label for="body" aria-hidden="true"></label>
        <textarea
          v-model="input.body"
          id="body"
          placeholder="*Please enter your message here"
          class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <button v-if="!form.loading" class="btn btn-success btn-block" @click="submitContactForm">Submit contact form</button>
        <button v-else class="btn btn-success btn-block" disabled>submitting, please wait...</button>
      </div>
      <div v-if="form.title !== ''">
        <template v-if="form.success">
          <alert :i-body="form.errors" :i-title="form.title" i-type="success"/>
        </template>
        <template v-else>
          <alert  :i-body="form.errors" :i-title="form.title" i-type="danger"/>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import Alert from "./child/Alert";
  export default {
    name: "Contact",
    components: {Alert},
    data() {
      return {
        input: {
          sender_name:  '',
          sender_email: '',
          sender_phone: '',
          body:         '',
        },
        form: {
          loading: false,
          errors:  [],
          title:   "",
          success: false
        }
      };
    },
    methods: {
      submitContactForm() {
        this.form.loading = true;
        this.form.errors  = [];
        this.form.title   = "";
        window.axios.post('/api/send-email', this.input)
          .then(res => {
            this.form.success = res.data.success;
            this.form.title   = res.data.message;
            this.form.loading =  false;
            if (res.data.success) {
              this.input = {
                sender_name: '',
                sender_email: '',
                sender_phone: '',
                body: '',
              }
            }
          })
          .catch(err => {
            let errs = [], msg = "";
            try {
              msg  = err.response.data.message;
              errs = window.$errorsCollapser(err.response.data.errors)
            } catch (e) {
              msg  = "Whoops..";
              errs = "There appeared to be an unknown error";
            }
            this.form.success  = false;
            this.form.errors   = errs;
            this.form.title    = msg;
            this.form.loading  =  false;
          });
      }
    }
  }
</script>

<style scoped>

</style>