<template>
  <div>
    <div :class="'alert alert-' + iType + ' alert-dismissible show'" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">{{ iTitle }}</h4>
      <template v-if="Array.isArray(iBody) && typeof iBody !== 'string' ">
        <div v-for="msg in iBody">{{msg}}</div>
      </template>
      <div v-else>
        {{iBody}}
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Alert",
    props: {
      iTitle: {
        required: true,
        type: String
      },
      iType: {
        required: true,
        type: String
      },
      iBody: {
        required: true,
        type: [String, Array]
      }
    }
  }
</script>

<style scoped>
  h4 {
    margin-bottom: 10px;
  }
</style>